.home-section{
 text-align: center;
}

.home-title {
  font-size: clamp(2rem, 1.737rem + 1.32vw, 3rem);
  color: var(--black-color);
}

.home-subtitle{
    font-size: clamp(0.75rem, 0.673rem + 0.34vw, 1rem);
}

.home-btns{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
  border-color: tomato;
}


.home-img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.home-btns .btn{
  width: clamp(11.25rem, 10.929rem + 1.6vw, 12.5rem);
}

